
*, *::after, *::before {
    box-sizing: border-box;
}

/* Common class */
.heading-text-cart-page {
    font-size: 1.4rem;
    padding: 0 10px;
    color: rgb(51 51 51);
}

.cart-icon {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.add-pointer {
    cursor: pointer;
}
/* Header with search */

.app {
    overflow-y: unset;
    overflow-x: hidden;
    height: 100vh;
}

.header {
    position: relative;
    height: var(--header-height-cart);
}

.header-with-search-wrap {
    background-color: var(--white-color);
}

.header__logo-text {
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__logo--separate::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #fb9086;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}

.header__logo-text-cart {
    margin-left: 24px;
    padding-top: 2.5px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height-cart);
    position: relative;
    justify-content: space-between;
}

.header-with-search::before {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    height: 100%;
    width: 60px;
    background-color: var(--white-color);
}

.header-with-search::after {
    content: '';
    position: absolute;
    top: 0;
    right: -60px;
    height: 100%;
    width: 60px;
    background-color: var(--white-color);
}

.header__search-cart {
    width: 620px;
    height: 40px;
    margin-left: 28px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
}

.header__search-btn {
    margin: 0;
    width: 80px;
    height: 100%;
    border-radius: 0px;
}

/* Body guide */
.body-guide {
    margin-bottom: 12px;
    padding: 0 16px;
    height: 42px;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border: 1px solid rgb(243 219 151);
    background-color: rgb(255 254 251);
}

.body-guide__icon {
    color: rgb(21, 163, 144);
    margin-right: 8px;
    margin-bottom: 2px;
    font-size: 1.6rem;
}

.body-guide__text {
    color: #222222;
    opacity: 0.99;
}

.cart-detail,
.buy-section {
    width: 100%;
    background-color: #f5f5f5;
}

.buy-section {
    box-shadow: 0 0 20px 1px #e0e0e0;
    margin: 12px 0 32px;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    justify-items: flex-end;
}

.cart-detail-heading {
    margin-bottom: 12px;
    padding: 0 40px;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
}

.cart-detail-heading__text {
    text-align: center;
    font-size: 1.4rem;
    opacity: 0.8;
    color: var(--text-color);
}

/* The container */
.container {
    padding-top: 22px;
    margin-top: 0;
}

.app-content{
    display: flex;
    flex-direction: column;
}

/* Icon checkbox custom */
.input-wraper {
    margin-right: 22px;
    margin-bottom: 2px;
}

.input-wraper input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
}

.input-wraper input[type=checkbox]:before {
	font-family: "Font Awesome 5 Free";
    content: "\f00c";
    padding: 2px 1px 0 3px;
    font-weight: 600;
    font-size: 12px;
    color: transparent !important;
    background: var(--white-color);
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgb(219 219 219);
}

.input-wraper input[type=checkbox]:checked:before {
    background: var(--primary-color);
	color: var(--white-color) !important;
    border: 1px solid var(--primary-color);
}

span.cart-detail-heading__text {
    color: var(--text-color);
    opacity: 1;
}

.cart-detail-heading-product {
    display: flex;
    align-items: center;
}

/* cart-body */
.cart-detail-body {
    background-color: var(--white-color);
}

.cart-detail-body__shop-list {
    background-color: #f5f5f5;
    list-style: none;
    padding-left: 0;
}

.cart-detail-body__shop-item {
    margin-bottom: 12px;
    background-color: var(--white-color);
}

.shop-item__name-wrap,
.shop-item__voucher-wrap,
.shop-item__freeship-wrap {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 45px;
    border-bottom: 1px solid var(--boder-color);
}

.shop-item__voucher-wrap {
    border-top: 1px solid var(--boder-color);
}

.shop-item__liked-btn {
    min-width: 48px;
    height: 16px;
    font-size: 12px;
    cursor: pointer;
}

.shop-item__name {
    cursor: pointer;
}

.shop-item__voucher-icon {
    cursor: default;
}

.new-label .shop-item__voucher-new-label {
    display: inline;
}

.shop-item__voucher-new-label {
    min-width: 18px;
    height: 18px;
    padding: 2px 4px;
    font-size: 12px;
    margin-left: 5px;
    cursor: default;
    display: none;
}

/* cart body -- list product of shop */

.shop-item-products-list {
    padding: 2px 0;
    list-style: none;
}
.shop-item-product-item {
    margin: 22px 20px;
    border: 1px solid var(--boder-color);
}

.shop-item-product-item__bonus {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 9px 19px;
    background-color: rgb(255 248 243);
}

.shop-item-product-item__bonus-lable {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.4rem;
    margin-right: 8px;
    padding: 0 4px;
    border: 1px solid var(--primary-color);
}

.shop-item-product-item__bonus-msg {
    font-size: 1.4rem;
    color: #333231;
    margin-right: 12px;
}

.shop-item-product-item__bonus-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-color);
}

.shop-item-product-item__bonus-icon {
    padding-left: 4px;
    font-size: 1.6rem;
    font-weight: 600;
}

.shop-item-product-item__product {
    display: flex;
    padding: 15px 20px;
}

.item-product__name {
    display: flex;
    align-items: center;
}

.name-wraper {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    width: 325px;
    height: 80px;
}

.name-wraper__img {
    height: 100%;
}

.name-wraper__text {
    padding: 0 10px;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.8);
}

.kind-product {
    cursor: pointer;
    position: relative;
    margin-left: auto;
    width: 160px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.54);
}

.kind-product label {
    cursor: pointer;
    user-select: none;
}

.kind-product__triangle {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    transition: all 0.1s 0.1s;
}

.triangle-icon {
    margin: 0 auto;
    font-size: 14px;
}

.kind-product-checkbox:checked + label .kind-product__triangle{
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
}

.kind-product-checkbox:not(:checked) ~ .kind-product__selection {
    display: block;
}

.kind-product__selection {
    padding: 20px;
    position: absolute;
    top: 130%;
    left: -100%;
    /* transform: translateX(-50%); */
    box-shadow: 1px 0px 3px var(--boder-color);
    background-color: var(--white-color);
    z-index: 1;
    transform-style: preserve-3d;
    display: none;
}

.shop-item__more-voucher::after,
.kind-product__selection::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--boder-color);
    top: -9px;
    left: 50%;
    background: var(--white-color);
    transform: rotate(45deg);
}

.shop-item__more-voucher::after {
    left: 8%;
}

.kind-product__option {
    margin-bottom: 15px;
}

.kind-option__title {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.54);
}

.kind-option__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.kind-option__item {
    font-size: 1.5rem;
    min-width: 80px;
    height: 34px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 4px 12px;
    position: relative;
    border: 1px solid var(--boder-color);
}

.kind-option__item:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.kind-product__control {
    display: flex;
    justify-content: flex-end;
}

.kind-product__value {
    margin-top: 5px;
}

.kind-option__item--chechked.kind-option__item::before {
    content: "";
    bottom: -25%;
    right: 0;
    position: absolute;
    border: 8px solid;
    transform: translateY(-50%);
    border-color: transparent var(--primary-color) var(--primary-color) transparent;
}

.kind-option__item--chechked.kind-option__item {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.kind-option__item--chechked.kind-option__item::after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    padding: 2px 1px 0 3px;
    font-weight: 600;
    font-size: 8px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: -4%;
    color: var(--white-color);
 }

.product-infor__price {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.product-infor__price-old {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: line-through;
    margin-right: 10px;
}

.product-infor__price-new {
    color: rgba(0, 0, 0, 0.8);
}

.product-infor__quantity {
    display: flex;
    justify-content: center;
    height: 32px;
}

.item-product__infor {
    display: flex;
    align-items: center;
}

.product-infor__quantity-input {
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    width: 50px;
    font-size: 1.6rem;
    border-left: none;
    border-right: none;
    outline: none;
    text-indent: 5px;
    border-top: 1px solid rgb(232 232 232);
    border-bottom: 1px solid rgb(232 232 232);
}

.product-infor__quantity-btn {
    cursor: pointer;
    text-align: center;
    width: 32px;
    line-height: 32px;
    font-size: 1.2rem;
    color: rgb(153 153 153);
    border: 1px solid rgb(232 232 232);
}

.product-infor__quantity-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.product-infor__quantity-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product-infor__total {
    color: var(--primary-color);
    font-size: 1.4rem;
    text-align: center;
}

.product-infor__operator {
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.product-infor__operator-delete {
    cursor: pointer;
}

.product-infor__operator-delete:hover {
    color: var(--primary-color);
}

.product-infor__operator-find {
    cursor: pointer;
    user-select: none;
    line-height: 1.4rem;
    margin-top: 4px;
    color: var(--primary-color);
}

.product-infor__similar-pro {
    position: absolute;
    right: -41%;
    top: 100%;
    height: 410px;
    width: 1200px;
    padding: 26px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    z-index: 1;
    display: none;
}

.similar-pro__list {
    list-style: none;
    padding-left: 0;
}

.cart__pagination {
    margin: 20px auto;
    width: 60px
}

.pagination-item__link {
    font-size: 1.6rem;
    min-width: 30px;
}

.pagination-item {
    margin: 0 4px;
}

.similar-pro-checkbox:checked ~ .product-infor__similar-pro {
    display: block
}

.similar-pro-checkbox:checked + .product-infor__operator-find {
    --height: 28px;
    height: var(--height);
    width: 120px;
    padding-right: 10px;
    line-height: var(--height);
    border: 1px solid var(--primary-color);
    border-bottom: none;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.similar-pro-checkbox:checked + .product-infor__operator-find::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--white-color);
    position: absolute;
    bottom: -2px;
    right: 0;
    z-index: 2;
}

/* Voucher  */
.shop-item__voucher-see-more > label,
.shop-item__freeship-see-more {
    font-size: 1.4rem;
    cursor: pointer;
    color: rgb(0 85 170);
    margin-left: 10px;
    user-select: none;
}

.shop-item__voucher-see-more {
    position: relative;
}

.shop-item__more-voucher {
    position: absolute;
    top: 170%;
    left: 20%;
    width: 500px;
    padding: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 2px 1px var(--boder-color);
    z-index: 1;
    display: none;
}

.more-voucher-checkbox:checked ~ .shop-item__more-voucher {
    display: block;
}

.more-voucher__heading {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
    font-weight: 400;
}

.more-voucher__input {
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    background-color: #f8f8f8;
}

.more-voucher__input-label {
    color: var(--text-color);
}

.more-voucher__input-select {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--boder-color);
    outline: none;
}

.more-voucher__list {
    width: 100%;
    display: block;
    padding: 10px;
    list-style: none;
    max-height: 30vh;
    overflow-y: scroll;
}

.more-voucher__note {
    display: block;
    padding: 10px 15px;
    font-size: 1.4rem;
    text-align: left;
    color: var(--text-color);
    opacity: 0.9;
    background-color: #fef7e7;
}

.more-voucher__item {
    height: var(--voucher-item-height);
    width: 100%;
    display: flex;
    margin: 15px 0;
    border: 1px solid var(--boder-color);
    justify-content: space-between;
}

.voucher-item__img {
    height: var(--voucher-item-height);
    width: var(--voucher-item-height);
    padding: 18px;
    border-right: 1px solid var(--boder-color);
}

.voucher-item__img img {
    width: 100%;
    border-radius: 50%;
}

.voucher-item__body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.voucher-body-content {
    display: flex;
    flex-direction: column;
}

.voucher-body-content__title {
    font-size: 1.6rem;
    color: #000000de;
    margin-bottom: 10px;
}

.voucher-body-content__expire {
    font-size: 1.2rem;
    color: #0000008a;
}

.voucher-body-btn {
    width: 64px;
    min-width: unset;
}

.btn-delete-on-mobile {
    width: 40px;
    min-width: unset;
    display: none;
}

.shop-item__freeship-icon {
    color: rgb(0 191 165);
}

/* Buy section */
.shop-voucher,
.shop-coin,
.buy-control {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;
    padding: 12px 32px;
    background-color: var(--white-color);
    border-bottom: 1px dashed var(--boder-color);
}

.shop-voucher__option {
    margin-left: 12px;
    text-align: right;
    color: rgb(0 85 170);
    cursor: pointer;
}

.shop-voucher__label,
.shop-coin__label {
    float: left;
    color: rgb(51 51 51);
}

.shop-voucher__label span,
.shop-coin__label span {
    margin-left: 10px;
    font-size: 1.6rem;
}

.shop-coin {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 16px 32px;
    height: 50px;
}

.shop-coin__checkbox {
    float: right;
}

.shop-coin__total-coin {
    margin-left: 12px;
    text-align: right;
    font-size: 1.6rem;
}

.buy-control {
    font-size: 1.6rem;
    height: 64px;
    padding: 12px 20px;
    border-bottom: none;
}

.control-product,
.control-buying {
    width: 100%;
    display: flex;
    align-items: center;
}

.control-product {
    float: left;
}

.control-product span {
    cursor: pointer;
    margin-right: 20px;
}

.control-product__store {
    color: var(--primary-color);
}

.control-buying {

    justify-content: flex-end;
}

.control-buying__btn-buy {
    margin: 0 12px;
    width: 210px;
    height: 40px;
    padding: 13px 36px;
}

.control-buying__total-price {
    font-size: 2.4rem;
    margin-left: 6px;
    color: var(--primary-color);
}